<h1>Edit Patient</h1>

<%= form_with model: @patient, local: true do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :age %><br>
    <%= form.number_field :age %>
  </div>

  <div>
    <%= form.label :disease %><br>
    <%= form.text_field :disease %>
  </div>

  <%= form.submit "Update" %>
<% end %>
