<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Clinic App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <!-- Icons -->
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <!-- Stylesheets -->
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>

   <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js", defer: true %>
   <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/chartkick@5.1.0/dist/chartkick.min.js", defer: true %>


    <!-- Remove this if you're not using importmap or pinning -->
    <%# <%= javascript_importmap_tags %> %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
